body {
  background-color: rgb(71, 68, 68);
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}
#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
}

.input-field {
  width: 50%;
  gap: 5%;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1.2rem;
}


.displayNo {
  background-color: white;
  padding-left: 1rem;
  width: 34%;
  border-radius: 3%;
}

#select-field {
  margin-left: 1.35rem;
  margin-bottom: 1rem;
  height: 50px;
  width: 28%;
}

#testId{
  /* border: 2px solid red; */
  border-radius: 8px;
  background-color: white;
  width: 30%;
  text-align: center;
  height: 500px;
}
#title-container{
  border: 2px solid black;
  border-radius: 5px;
  width: 80%;
  height: 14%;
  background-color: rgb(71, 68, 68);
  margin: 1rem auto;
}
#img-container {
  width: 100%;
}

img {
  width: 100%;
}

p{
  font-size: small;
  font-family: 'Outfit', sans-serif;
  font-family: 'Sofia', cursive;
}

i{
  cursor: pointer;
  color: white;
}

h3 {
  color: red;
}


@media screen and (max-width: 700px) {
  #testId {
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  #testId {
    width: 60%;
    height: auto;
    border: none;
  }

  #title-container{
    height: auto;
  }
  .input-field {
    width: 100%;
  }

  .displayNo {
    width: 40%;
  }

  #select-field {
    width: 87.2%;
  }
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: medium;
  }
}